$bg: 'bg';
$surface-1: 'surface-1';
$surface-2: 'surface-2';
$surface-3: 'surface-3';
$primary-clr: 'primary-clr';
$secondary-clr: 'secondary-clr';
$success-clr: 'success-clr';
$warning-clr: 'warning-clr';
$alert-clr: 'alert-clr';
$text-font-weight: 'text-font-weight';
$text: 'text';
$text-medium-emphasis: 'text-medium-emphasis';
$link: 'link';
$hover: 'hover';
$btn-hover-text: 'btn-hover-text';
$logo: 'logo';
$moose-logo: 'moose-logo';
$client-logo-color: 'client-logo-color';
$image-opacity: 'image-opacity';
$offcanvas-overlay: 'offcanvas-overlay';

$themes: (

  light: (
    logo: url("../images/gabriel-bajada-logo.png"),
    moose-logo: url("https://gabrielbajada-host1.com/host/credits/moose-mark-black.png"),
    client-logo-color: invert(6%) sepia(4%) saturate(184%) hue-rotate(314deg) brightness(102%) contrast(97%),
    bg: scale-color($white, $lightness: -11%),
    surface-1: scale-color($white, $lightness: -8%),
    surface-2: scale-color($white, $lightness: -5%),
    surface-3: $white,
    primary-clr: $primary-color,
    secondary-clr: scale-color($primary-color, $lightness: -20%),
    success-clr: $success-color,
    warning-clr: $warning-color,
    alert-clr: $alert-color,
    card-bg: $lighter-gray,
    text-font-weight: 500,
    text: $black,
    text-medium-emphasis: scale-color($black, $lightness: 60%),
    hover: $primary-color, //scale-color($black, $lightness: 20%),
    btn-hover-text: $black,
    image-opacity: 1,
    offcanvas-overlay: rgba(228, 228, 228, 0.95),
  ),

  dark: (
    logo: url("../images/gabriel-bajada-logo-white.png"),
    moose-logo: url("https://gabrielbajada-host1.com/host/credits/moose-mark-white.png"),
    client-logo-color: invert(100%) sepia(0%) saturate(0%) hue-rotate(318deg) brightness(102%) contrast(102%),
    bg: $black, //linear-gradient($bg--dark--top, $bg--dark--bottom),
    surface-1: scale-color($black, $lightness: 5%),
    surface-2: scale-color($black, $lightness: 7%),
    surface-3: scale-color($black, $lightness: 8%),
    primary-clr: $secondary-color,
    secondary-clr: scale-color($secondary-color, $lightness: -20%),
    success-clr: #5be18d,
    warning-clr: #ffc74e,
    alert-clr: #d87566,
    card-bg: $darker-gray,
    text-font-weight: 600,
    text: $white,
    text-medium-emphasis: scale-color($white, $lightness: -60%),
    hover: $secondary-color, //scale-color($white, $lightness: -20%),
    btn-hover-text: $black,
    image-opacity: 0.85,
    offcanvas-overlay: rgba(18, 18, 18, 0.95),
  ),

);




/*********************
THEMES MIXIN – https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
*********************/

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
