/******************************************
GENERIC ITEM STYLES
******************************************/

#generic-projects-grid {
  //@include double-inner-spaced;

  h5 {
    font-family: $tertiary-font-family;
    font-weight: $global-weight-normal;

    @include themed() {
      color: t($text-medium-emphasis);
    }

    a {
      text-decoration: none;

      @include themed() {
        color: t($text-medium-emphasis);
      }

      &:hover, &:active {

        @include themed() {
          color: t($primary-clr);
        }
      }
    }
  }

  article {
    @include double-spaced;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 250ms; /* don't forget to set a duration! */

    .card {
      padding: 0;
      @include transition-2;

      @include themed() {
        background-color: t($surface-1);
      }

      &:hover, &:active {
        @include transition-1;

        .card-image {

          .featured-image {
            @include transition-1;
            transform: scale(1.025);
            transition: transform 1500ms ease, opacity 1500ms ease;
          }
        }
      }

      .card-image {

        @include themed() {
          background-color: t($bg);
        }

        .featured-image-container {
          @include aspect-ratio(4, 3);

          .featured-image {
            @include transition-2;
            transition: transform 1500ms ease 300ms, opacity 1500ms ease 300ms;
          }
        }

      }

      .card-section {
        padding: rem-calc(map-get($grid-column-gutter, small) );
        padding-left: 0;
        padding-right: 0;

        @include themed() {
          background-color: t($surface-1);
        }

        @include breakpoint(medium) {
          padding: rem-calc(map-get($grid-column-gutter, medium) );
        }

        @include breakpoint(xlarge) {
          padding: rem-calc(map-get($grid-column-gutter, xlarge) / 2 );
        }

        @include breakpoint(xxlarge) {
          padding: rem-calc(map-get($grid-column-gutter, xxlarge) / 2 );
        }

        h3 {
          @include quarter-spaced-bottom;

          a {
            font-weight: $global-weight-normal;
            text-decoration: none;
            @include header-styles(h2);

            @include themed() {
              color: t($text);
            }

            &:hover, &:active {

              @include themed() {
                //color: t($text-medium-emphasis);
              }
            }
          }
        }

        h4 {
          display: inline-block;
          font-family: $tertiary-font-family;
          font-weight: $global-weight-normal;

          @include themed() {
            color: t($text-medium-emphasis);
          }
        }

        .ampersand {
          font-family: $tertiary-font-family;
          font-weight: $global-weight-normal;
          @include header-styles(h4);

          @include themed() {
            color: t($text-medium-emphasis);
          }
        }

        p {
          @include quarter-spaced-bottom;

          @include themed() {
            color: t($text);
          }
        }

        .cta {
          @include quarter-spaced-top;
          text-decoration: none;

          @include breakpoint(medium) {
            text-indent: 0;
          }
        }
      }
    }
  }

  .page-load-status {
  }

}




/*********************
TESTIMONIAL SECTION STYLES
*********************/


#testimonials, #client-testimonials {
  @include inner-spaced;

  .lead p {
    @include header-styles(h4);

    @include breakpoint(medium) {
      @include header-styles(h3);
    }
  }

  h3, .h3 {
    margin-bottom: 0;

    a {
      font-weight: $global-weight-normal;
      line-height: $global-lineheight;
      text-decoration: none;
      @include header-styles(h4);

      @include themed() {
        color: t($text);
      }

      &:hover, &:active {

        @include themed() {
          color: t($primary-clr);
        }
      }
    }
  }

  h4, .h4 {
    //display: inline-block;
    //float: left;
    @include header-styles(h5);

    a {
      font-weight: $global-weight-medium;

      @include themed() {
        color: t($text);
      }

      &:hover, &:active {

        @include themed() {
          color: t($primary-clr);
        }
      }
    }

    &.section-title {
      float: none;
    }
  }

  h5, .designation {
    font-family: $tertiary-font-family;
    font-weight: $global-weight-normal;

    @include themed() {
      color: t($text-medium-emphasis);
    }

    a {
      text-decoration: none;

      @include themed() {
        color: t($text-medium-emphasis);
      }

      &:hover, &:active {

        @include themed() {
          color: t($primary-clr);
        }
      }
    }
  }


  .owl-dot {

    span {
      background: $white;
      border-color: $white;
    }

    &.active {

      span {
        border-color: $primary-color;
      }
    }

    &:hover {

      span {
        background: $tertiary-color !important;
        border-color: $tertiary-color;
      }
    }
  }
}




/******************************************
HOME PAGE STYLES
******************************************/

.page-template-template-home {

  #generic-projects-grid {

    article {

      .card {
        background-color: transparent;

        .card-image {
        }

        .card-section {
          background-color: transparent;
        }
      }
    }
  }

}




/******************************************
WORK PAGE STYLES
******************************************/

.page-template-template-work {

  #generic-projects-grid {
    @include double-inner-spaced-top;

    article {
      @include half-spaced;

      &:hover, &:active {
        @include transition-1;

        .card {

          .card-section {
            @include transition-2;

            @include themed() {
              background: t($surface-2);
            }
          }
        }
      }

      .card {

        .card-image {
        }

        .card-section {
          @include transition-1;

          @include themed() {
            background: t($surface-1);
          }
        }
      }
    }
  }
}




/*********************
UPDATES PAGE STYLES
*********************/

.page-template-template-updates {

  #updates-grid {
    @include inner-spaced;

    .generic-grid-inner {

      article {

        .card {

          .featured-image-container {
            @include aspect-ratio(16, 9);
            @include quarter-spaced-bottom;
          }

          h3 {
            @include quarter-spaced-bottom;

            a {
              color: $secondary-color;
              font-weight: $global-weight-medium;

              &:hover, &:active {
                color: $secondary-color-dark;
              }
            }
          }

          p {
            @include quarter-spaced-bottom;
          }

          .cta {

            @include breakpoint(medium) {
              text-indent: 0;
            }
          }

        }
      }
    }
  }
}




/*********************
ABOUT PAGE STYLES
*********************/


.page-template-template-about {

  #about-container {
    @include inner-spaced;

    #about-bio {

      p {

        @include themed() {
          color: t($text);
          font-weight: t($text-font-weight);
        }
      }
    }

    #about-details {

      #about-education {

        .section-title {
          @include half-spaced-top;
        }
      }

      article {
        @include quarter-spaced-bottom;

        &:last-of-type {
          margin-bottom: 0;
        }

        h4, h5 {
          font-weight: $global-weight-normal;

          @include themed() {
            color: t($text);
          }
        }

        h4 {
          @include header-styles(h5);
        }

        h5 {
          font-family: $tertiary-font-family;
        }
      }
    }
  }
}




/*********************
CONTACT PAGE STYLES
*********************/


.page-template-template-contact {

  #contact-content {
    @include inner-spaced;

    #contact-details {
      @include spaced-bottom;

      @include breakpoint(medium) {
        margin-bottom: 0 !important;
      }

      h3, .h3 , h4, .h4, h5, .h5 {
        color: $secondary-color;
        font-family: $body-font-family;
      }

      h3, .h3 {
        font-weight: $global-weight-medium;
      }

      h4, .h4 {
        font-weight: $global-weight-medium;
        @include spaced-top;
      }

      h5, .h5 {
        font-weight: $global-weight-normal;
        text-transform: uppercase;
        @include half-spaced-top;
      }

      span {
        color: $secondary-color;
        font-family: $body-font-family;
        font-weight: $global-weight-medium;
        text-transform: uppercase;
        @include header-styles(h6);
        @include transition-2;
      }

      a {
        color: $black;

        span {
          @include transition-2;
        }

        &:hover {
          color: $primary-color;

          span {
            color: $primary-color;
            @include transition-1;
          }
        }
      }

      .button {
        color: $primary-color;
      }
    }
  }
}




/*********************
FULL-WIDTH PAGE STYLES
*********************/

.page-template-template-full-width {

  #full-width-content {
    @include double-spaced-top;
    @include inner-spaced;

    header {
    @include spaced-bottom;

      h1 {
        color: $primary-color;
        @include header-styles(h3);

        @include breakpoint(medium) {
          @include header-styles(h2);
        }

        .title {
          color: $secondary-color;
          font-family: $body-font-family;
          font-weight: $global-weight-medium;
          text-transform: uppercase;
          display: block;

          @include header-styles(h5);
          @include quarter-spaced-bottom;
        }
      }

      .lead, .lead p {
        color: $primary-color;
        opacity: 1;
        display: block;
        @include quarter-spaced-top;
        @include header-styles(h5);

        @include breakpoint(medium) {
          @include header-styles(h4);
        }

        a {
          color: $primary-color;
          text-decoration: underline;

          &:hover, &:active {
              color: $secondary-color;
          }
        }
      }
    }
  }
}




/*********************
SINGLE PROJECT STYLES
*********************/

.single-project {

  #single-project-content {
    @include inner-spaced-bottom;

    article {

      header {

        #project-info {

          .lead {
            @include half-spaced-bottom;
          }

          .details p {
            @include half-spaced-bottom;

            &:last-of-type {

              @include breakpoint(medium) {
                margin-bottom: 0;
              }
            }
          }

          .other-credits {
            @include half-spaced-bottom;

            h4, h5, p {
              font-family: $tertiary-font-family;
              font-weight: $global-weight-normal;
              @include header-styles(h5);
            }
          }

          .url {
            @include half-spaced-bottom;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        #project-details {
          border-bottom: $border-thin solid;
          @include spaced-bottom;
          @include half-inner-spaced;

          @include themed() {
            color: t($text-medium-emphasis);
            border-color: t($text-medium-emphasis);
          }

          @include breakpoint(medium) {
            @include half-spaced-top;
          }

          .detail {
            font-family: $tertiary-font-family;
            font-weight: $global-weight-normal;
            @include header-styles(h5);

            @include breakpoint(medium) {
              @include header-styles(h4);
            }

            a {
              text-decoration: none;

              @include themed() {
                color: t($text-medium-emphasis);
              }

              &:hover, &:active {

                @include themed() {
                  color: t($primary-clr);
                }
              }
            }
          }

          .abbreviation {
            display: block;
            @include header-styles(h6);

            @include breakpoint(medium) {
              margin-right: rem-calc(map-get($grid-column-gutter, medium));
              display: inline-block;
              @include header-styles(h5);
            }
          }
        }
      }

      #project-content {

        .section-title {
          @include spaced-top;
        }

        p {
          margin-bottom: 0;
        }

        img, .widescreen, .fb-video {
          margin-bottom: rem-calc(map-get($grid-column-gutter, small));

          @include breakpoint(medium) {
            margin-bottom: rem-calc(map-get($grid-column-gutter, medium));
          }

          @include breakpoint(xlarge) {
            margin-bottom: rem-calc(map-get($grid-column-gutter, xlarge));
          }

          @include breakpoint(xxlarge) {
            margin-bottom: rem-calc(map-get($grid-column-gutter, xxlarge));
          }

          &.frame {
            border: $border-thin solid $secondary-color-light !important;
          }
        }


        .no-space {

          @include breakpoint(medium) {
              margin-bottom: 0 !important;
          }
        }

        .no-space-top {
          margin-top: 0 !important;
        }

        .cell {
          margin-bottom: 0;

          .section-title {
            @include spaced-top;
          }

          img {

            &.no-space {

              @include breakpoint(medium) {
                margin-bottom: 0;
              }
            }
          }

          &:last-of-type {

            img {

              &.no-space {
                margin-bottom: 0;
              }
            }
          }
        }

        .owl-dot {

          &:last-of-type {
            display: none;
          }
        }
      }

      #testimonials {
        padding-bottom: 0;
      }
    }
  }

  .reveal {

    #client-testimonials {
      padding-bottom: 0;

      .lead p {
        @include header-styles(h5);

        @include breakpoint(medium) {
          @include header-styles(h4);
        }
      }
    }

    #generic-projects-grid {

      article {
        margin: 0;
      }
    }
  }
}




/*********************
SINGLE POST STYLES
*********************/

.single-post {

    #single-post-content, #careers-content {
        @include double-spaced-top;
        @include inner-spaced-top;

        header {
          @include spaced-bottom;

          h1 {
            color: $primary-color;
            @include header-styles(h3);

            @include breakpoint(medium) {
              @include header-styles(h2);
            }
          }
        }

        article {

            .video-hero {

                .responsive-embed { // video
                    margin-top: 0 !important;
                    @include half-spaced-bottom;
                }
            }

            .article-header {
                @include half-spaced-bottom;

                .byline {

                    a {
                        color: $secondary-color;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }

            .responsive-embed { // video
                @include half-spaced;
            }

            .featured-image-container {
                @include aspect-ratio(16, 9);
                @include half-spaced-bottom;
            }

            &.post {
                @include inner-spaced-bottom;
            }

            &.category-careers {

                h4, .h4 {
                    font-family: $body-font-family;
                    font-weight: $global-weight-normal;
                    color: $secondary-color;
                    @include quarter-spaced-top;
                    //@include header-styles(h2);
                }
            }
        }

        #careers-form {
            @include inner-spaced-bottom;
        }
    }
}
