/******************************************************************

Stylesheet: Login Stylesheet

This stylesheet is loaded is only on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

Make sure functions/login.php is activated in your functions.php file.

This stylesheet is turned off by default.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/

@import url("https://use.typekit.net/wjn5prn.css");

$login-primary-color: #fefefe;
$login-secondary-color: #f25f24;
$login-text-color: scale-color($login-primary-color, $lightness: -30%);
$login-background-color: #121212;
$header-font-family: 'obviously', sans-serif;
$body-font-family: 'obviously-narrow', sans-serif;
$border-radius: 0; //5px;






body.login {
	background-color: $login-background-color;
	font-family: $body-font-family;

    #login {

        // Change the login logo
        h1 {

            a {
                background: url(../images/gabriel-bajada-logo-white.png) no-repeat top center;
                background-size: contain;
                width: 220px;
                height: 50px;
                text-indent: -9999px;
                overflow: hidden;
                padding-bottom: 15px;
                display: block;
            }
        }

        form, #login_error, .message {
            border-radius: $border-radius;
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(#000, 0.15) !important; //box-shadow: none !important;
        }

        form {
            border: none !important;
            //box-shadow: none !important;

            /* Change Autocomplete styles in Chrome*/
            input:-webkit-autofill::first-line,
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            textarea:-webkit-autofill,
            textarea:-webkit-autofill:hover,
            textarea:-webkit-autofill:focus,
            select:-webkit-autofill,
            select:-webkit-autofill:hover,
            select:-webkit-autofill:focus {
              //border: 1px solid $login-primary-color;
              -webkit-box-shadow: 0 0 0px 1000px scale-color($login-text-color, $lightness: 85%) inset !important;
              transition: background-color 5000s ease-in-out 0s;
              -webkit-text-fill-color: $login-background-color !important;
            }

            .input, input[type=checkbox], input[type=text] {
              border: 0;
              border-radius: 0;
              outline: none !important;
              box-shadow: none;
              color: $login-background-color !important;
              background-color: scale-color($login-text-color, $lightness: 85%) !important;
              transition: background-color 0.5s ease-in-out 0.25s;

              &:focus {
                background-color: scale-color($login-text-color, $lightness: 85%) !important;
                border-color: scale-color($login-text-color, $lightness: 85%) !important;
                box-shadow: 0 0 0 1px scale-color($login-text-color, $lightness: 85%) !important;
                transition: background-color 0.5s ease-in-out 0s;
              }
            }

            // Checkmark
            input[type=checkbox]:checked:before {
              // TO CALCULATE FILTER COLOUR BASED OFF SECONDARY COLOR -> https://codepen.io/sosuke/pen/Pjoqqp
              // Brightness and Saturate have been added to change the icon to black so that the filter will work.
              filter: brightness(0) saturate(100%) invert(25%) sepia(38%) saturate(872%) hue-rotate(219deg) brightness(86%) contrast(85%);
              border-radius: 0;
            }

            .button.wp-hide-pw {
                border: none;
                box-shadow: none;
                outline: none;

                .dashicons {
                    color: $login-background-color !important;
                }
            }

            // Login Button Style
            #wp-submit {
                background: $login-text-color !important;
                border: 0;
		            border-radius: $border-radius;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: $login-background-color;
								font-family: $header-font-family;
                font-weight: bold;
                text-decoration: none;
                text-shadow: none !important;
							  text-transform: uppercase;
							  letter-spacing: 0.25rem;
							  text-indent: 0.25rem;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $login-secondary-color !important;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }
        }

        // Links
        #backtoblog a, #nav a, .privacy-policy-page-link a {
            color: $login-text-color !important;
						text-decoration: none;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &:hover {
                color: $login-secondary-color !important;
								text-decoration: none;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
        }
    }
}
